{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row">
    {% for article in article_list %}
  <div class="col-12 col-mb-6 col-xl-4 col-xxl-3 mb-2 mb-md-3">
        <img src="https://webstockreview.net/images/death-clipart-end-life-3.png" class="w-25" alt="...">
    <h5 class="card-title">{{ article.title }}</h5>
    <p class="card-text">{{ article.text }}</p>
    <a href="{% url 'article_detail' article.pk %}" class="btn btn-primary">Подробнее</a>
  </div>
         {% endfor %}
    </div>

</div>




{% endblock content %}
