{% extends 'base.html' %}
{% block content %}
{% load static %}

    <section class="hero vh-100">
    <div class="container d-flex align-items-center h-75">
        <div class="col-12 col-md-8 col-lg-5 ps-0 ps-md-2 ps-lg-4">
            <h1 class="mb=2">The companion app for your book shelf</h1>
            <a href="{% url 'register' %}" class="w-100 w-md-50 btn btn-dark mb-2">Create your account</a>
            <p>Already a member?" <a href="{% url 'login' %}">Sign in</a> </p>
        </div>
    </div>
    </section>

</section>
 <section>
    <div class="c-bg-grey d-flex justify-content-center align-items-center text-center vh-100">
        <div class="col-12 col-md-10 col-lg-8">
        <h2 class="mb=5">Unlock your personal statistics</h2>
            <div class="col-12">
        <img class="mb-8"  src="{% static '/img/1.png' %}">
            </div>
        </div>
    </div>
    </section>


 <section>
    <div class="container d-flex justify-content-center align-items-center text-center vh-100">
        <div class="col-12 col-md-10 col-lg-8">
            <h2 class="mb=4">Meet the team</h2>
            <p class="mb-5">Оба примера начинаются с одного и того же сообщения о садящемся солнце. В первом отрывке используются предложения, никак не связанные друг с другом: ни по смыслу, ни грамматически. Каждое предложение несет свою сугубо индивидуальную информацию. Можно сделать вывод, что это разрозненные предложения.</p>
       <div class="row">
           {% for data in UserGroup %}
           <div class="col-12 col-sm-4 col-lg-4">
               <img class="mb-5 col-5"  src="{{ data.profile_pic.url }}">
                <h3>{{ data.group }}</h3>
               <p>{{ data.full_name }}</p>
               <p>{{ data.city }}</p>
           </div>
           {% endfor %}

        </div>
    </div>
    </section>
 <section>
    <div class="d-flex justify-content-center align-items-center text-center vh-75">
        <div class="col-12 col-md-8 col-lg-5 ps-0 ps-md-2 ps-lg-4">
            <h1 class="mb=5">Ready to join us?</h1>
            <h4 class="mb-5">Oku is the companion app for your bookshelf.</h4>
            <p class="mb-5">Become a member for free to track, rate & review your favourite books with a community of others.</p>
            <a href="{% url 'register' %}" class="w-50 w-md-50 btn btn-dark mb-5">Create a free account</a>
        </div>
    </div>
    </section>


{% endblock content %}