{% extends 'base.html' %}
{% block content %}
    <section class="hero vh-100">
    <div class="container d-flex align-items-center h-75">
        <div class="col-12 col-md-8 col-lg-5 ps-0 ps-md-2 ps-lg-4">
            <h1 class="mb=2">The companion app for your book shelf</h1>
            <a href="{% url 'register' %}" class="w-100 w-md-50 btn btn-dark mb-2">Create your account</a>
            <p>Already a member?" <a href="{% url 'login' %}">Sign in</a> </p>
        </div>
    </div>
    </section>

 <section class="team vh-100">
    <div class="container d-flex justify-content-center h-100">
        <div class="col-12 col-md-8 col-lg-6 ps-0 ps-md-2 ps-lg-4 ">
            <h2 class="mb=2">Meet the team</h2>
            <p>Оба примера начинаются с одного и того же сообщения о садящемся солнце. В первом отрывке используются предложения, никак не связанные друг с другом: ни по смыслу, ни грамматически. Каждое предложение несет свою сугубо индивидуальную информацию. Можно сделать вывод, что это разрозненные предложения.</p>
       <div class="row">
           <div class="col-12 col-sm-4 col-lg-4">
               <img class="mb-2 col-5" src="https://clipartcraft.com/images/playstation-4-logo-circle-1.png" alt="">
                <h3>Солнце село за горизонт</h3>
               <p>Два слова</p>
           </div>
           <div class="col-12 col-sm-4 col-lg-4">
               <img class="mb-2 col-5" src="https://clipartcraft.com/images/playstation-4-logo-circle-1.png" alt="">
                <h3>В городе снуют автомобили</h3>
               <p>Тут три слова</p>
           </div>
           <div class="col-12 col-sm-4 col-lg-4">
               <img class="mb-2 col-5" src="https://clipartcraft.com/images/playstation-4-logo-circle-1.png" alt="">
               <h3>В небе курлычут журавли</h3>
               <p>Два слова</p>
           </div>
       </div>
        </div>
    </div>
    </section>
{% endblock content %}