    <header class="mb-4 border-bottom border-success">
      <div class="container">
        <div class="row d-flex justify-content-between mb-3">
            <a href="{% url 'home' %}" class="col-1">
                <img class="w-100" src="https://clipartcraft.com/images/playstation-4-logo-circle-1.png" >
        </a>
        <div class="col-6 fs-4">
            <ul class="nav w-100 nav-underline">
        <li class="nav-item">
        <a class="nav-link text-dark" aria-current="page" href="{% url 'home' %}">Главная</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="{% url 'article_list' %}">Статьи</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="{% url 'book_list' %}">Книги</a>
      </li>
    </ul>
                </div>
            <div class="col-5 justify-content-end">
                {% if user.is_authenticated %}
                    <a href="{% url 'profile' %}" class="btn btn-primary me-md-2" type="button">Профиль</a>
                    <a href="{% url 'logout' %}" class="btn btn-primary" type="button">Выход</a>
                {% else %}
                    <a href="{% url 'login' %}" class="btn btn-primary me-md-2" type="button">Войти</a>
                    <a href="{% url 'register' %}" class="btn btn-primary" type="button">Зарегистрироваться</a>
                {% endif %}

            </div>

            </div>
        </div>
    </header>